body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, orange, blue) no-repeat fixed;
}

.profilePhoto {
    max-height: 150px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

section {
    justify-content: center;
    margin: 0 auto 10px auto;
    padding: 15px 20px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    text-align: center;
}

.linkItem {
    padding: 15px 20px;
    text-decoration:none;
    transition: all 0.2s ease-in-out;
    margin-bottom: 5px;
    margin: 0 auto 15px;
    display: block;
    max-width: 400px;
    border: 2px solid #f79256;
    border-radius: 25px;
    color: black;
    text-align: center;
}

.linkItem:hover {
    text-decoration: none;
    color: black;
    background-color: #f59f0b;
}

.linkItem div {
    text-decoration: none;
    color: white;
    justify-content: center;
    margin-bottom: 0;
}


.container{
    padding: 10px;
    width: auto;
    height: auto;
}

h3 {
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 7px;
}